[Unit]
Description=Speedport Pro Reboot
After=network.target network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --volume /opt/speedport-pro-reboot:/app --user 1000:1000 buildkite/puppeteer node /app/speedport-pro-reboot.js
